body{
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}
.navbar-brand{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}
.nav-link{
    cursor: pointer;
}
.backgroundCover{
    width: 97vw;
    height: 70vh;
    margin-top: 70px;
    margin-left: 20px;
}
.heading{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#brand_first_word{
    color: deeppink;
}

.navbar .nav-link{
    font-weight: bolder;
}
.navbar .nav-link:hover{
    color: deeppink;
}
.card-title{
    font-size: 35px;
}

.countHeading{
    padding-top: 60px;
}
.count{
    padding-top: 20px;
    font-size: 40px;
}
.countSection{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(white,hotpink);
    box-shadow: 10px 10px 5px gray;
}
.card_cover{
     padding-top: 60px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 60px;
}
.searchForm{
    display: flex;
}
#details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#order_heading{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

.orderTbl{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
}
#totalForm{
    display: flex;
    gap: 15px;
}
#od_buttons{
    display: flex;
    padding-top: 20px;
}
#order_btn{
    height: 40px;
    margin-left: 900px;
}
.card-body>img{
    height: 90px;
    padding-left: 170px;
}
#order_content{
    background: white;
    border-radius: 40px;
}
#customer_content{
    background: white;
    border-radius: 40px;
}
#item_content{
    background: white;
    border-radius: 40px;
}
#login_content{
    overflow-y: hidden;
}
#firstPage_name{
    font-size: 100px;
}
#firstPage_name>span{
    color: red;
}
#firstPage_name1{
    font-size: 30px;
}
#firstPage_name1>span{
    color: red;
}
#login_btn{
    background: deeppink;
    border-color: transparent;
    width: 100%;
}
#heading1{
    color: deeppink;
    font-size: 30px;
}
.labels{
    color: deeppink;
}
.login_cover{
    box-shadow: 2px 2px 15px grey;
    border-radius: 20px;
}
.loginCard {
    border: none;
    box-shadow: none;
}
#inputEmail , #inputPassword{
    border: 2px solid black;
}
.details{
    box-shadow: 10px 10px 5px gray;

}
#customer_table{
    box-shadow: 10px 10px 5px gray;
}
.orderForms{
    box-shadow: 10px 10px 5px gray;
}
#cusSaveBtn,#cusUpdateBtn,#cusDeleteBtn,#cusClearBtn,#itemSaveBtn,#itemUpdateBtn,#itemDeleteBtn,#itemClearBtn,#cartBtn,#order_btn{
    background: hotpink;
    color: black;
}
#totalLabel{
    color: white;
}
@media (max-width: 500px) {
   body{
       height: 112vh;
   }
    #od_buttons{
        display: block;
    }
    #order_btn{
        margin-top: 30px;
        margin-left: 50px;
    }
}


